@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.header{
	display:flex;
	width:100%;
	height:100PX;
	background:#ffebcd;
	margin: 50px auto;
	opacity: 90%;
	padding:3px;


}
.katal{
height:90%

}
.logotip{
	
	width:100px;
	height:80px;

	background-size: 100%;
	position: absolute;

}
.wrapper-header{
	height: 100%;
	width:20%;

}

.logophoto{

	width:100%;
	height:100%;
}
.logo{
	margin-left: -9px;	
	font-family: 'Roboto', sans-serif;
	position: absolute;
	font-weight:bold;
	color: #D90511;

}
.text-login{
	margin-left: 10px;	
	font-family: 'Roboto', sans-serif;
	position: absolute;
	font-weight:bold;
	color: #D90511;
}
.login{
	margin-right: 150px;


}
body{
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	background:#ffebcd;
	background-image: url(../picture/back.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}

.content-wrapper{
	width:100%;
	display:flex;
}

.content{
	width:30%;
    height:100%;	
}
.links{
	border:3px solid:red;
}
.links ul {
	display:flex;
	margin:20px 0 0 0 ;
}
.links li a{
	font-family: 'Roboto', sans-serif;
	color:black;
	font-weight:bold;
	padding:20px;
	display:flex;
	text-decoration:none;
	transition:color .3s ease;
}
.links li a:hover{
	color:#D90511;
}
.main{
	width:98%;
	min-height:500px;
	margin: 0 auto;
	border: 2px solid #A9A9A9;
	border-radius:5px;
	margin: 100px auto;
	background:#ffebcd;
}

.wrapper{
    width: 40%;
}

.text_01{

    padding: 5px;
    background-color: #D3D3D3;

}
.img_01{
    background-image: url(../picture/image1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30%;
}
.img_02{
    background-image: url(../picture/image2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30%;
}
.text_02{
    margin:20%;
    width:60%;
    background-color: #D3D3D3;
}
.content_01{
	width:30%;	
}
.content_02{
    width:40%;
}

.image{

    
	width:100%;
	height:100%;
}

.flex{
    display: flex;
}
.chapter-main{
	font-family: 'Roboto', sans-serif;
	margin: 40px 0 0 0;
	color:#000000;
	font-weight:bold;
	padding:5px;
	text-align:center;
	text-decoration:none;
	font-size: 20px;

}

a{
	text-decoration:none;
}
.footer{
	background-color: #212228;
	width:100%;
	padding:10px 0 6px 6px;
}
.text-footer{
text-align: center;
color:white;
margin:10px;
	
font-family: 'Roboto', sans-serif;

}

.wrapper-slider{
display: flex;
max-width: 400px;
max-height: 600px;
}

@media only screen and (max-width:320px) {
html {
	overflow-x: hidden;
}
.links{
	display: none;
}
.login{
	position: absolute;
	left:200px;
}
.main{
	width: 98%;
	padding: 0 0 20px 0;
	max-width: 320px;
}

.img_01{
	display: none;
}
.img_02{
    display:none;
}


.content_01{
    display:none;
}
.content_02{
 width:100%;
}
.wrapper{
    width:100%}
.img_03{
    background-image: url(../picture/image1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50%;
    height:100px;

}
.img_04{
    background-image: url(../picture/image2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50%;
    height:100px;
}
.content_03{
display: flex;
width:100%;
height:100px;
}
}


